<% if signed_in? %>
  <div data-role="header">
  	<%= link_to t('header.back'), :back, "data-icon" => "arrow-l", "data-iconpos" => "notext" %>
	<h2><%=t 'title' %></h2>
    <%= link_to t('header.home'),    root_path, "data-icon" => "home", "data-iconpos" => "notext" %>
  </div>
<% else %>
  <div data-role="header">
  	<%= link_to t('header.home'),    root_path %>
	<h2><%=t 'title' %></h2>
    <%= link_to t('header.signin'), signin_path %>
  </div>
<% end %>

<h2><%=t 'question.question' %></h2>
    <%= @question.qn %>

<div data-role="controlgroup">
  <% %w(correct option1 option2 option3).shuffle.each do |b| %>
  <div data-role="button">
    <%= link_to @question.try(b), answer_path(:id => @question.id, :option => b) %>
  </div>
  <% end %>
</div>
  
<div data-role="footer">
  <div class="ui-grid-b">
    <div class="ui-block-a">
      <%= link_to t('static.about.title'),   about_path, "data-role" => "button" %>
    </div>
    <div class="ui-block-b">
      <%= link_to t('yanmar'), t('footer.newsurl'), 
          :confirm=> t('control.confirm_leave'), "data-role" => "button" %>
    </div>
    <div class="ui-block-c">
      <%= link_to t('header.signout'), signout_path, method: "delete", "data-role" => "button" %>
    </div>
  </div>
</div>