<div data-role="header" id="title-div">
  <%= link_to "Back", :back, "data-role" => "button", 
      "data-icon" => "arrow-l", "data-iconpos" => "notext" %>
  <h1>Make Question</h1>
  <%= link_to "Home", root_path, "data-role" => "button", 
      "data-icon" => "home", "data-iconpos" => "notext" %>
</div>

  <%= form_for(@question) do |q| %>
    <%= q.label :qn, "Question" %>
	<%= q.text_field :qn %>
	
	<%= q.label :correct %>
	<%= q.text_field :correct %>
	
	<%= q.label :option1, "Option 1" %>
	<%= q.text_field :option1 %>
	
	<%= q.label :option2, "Option 2" %>
	<%= q.text_field :option2 %>
	
	<%= q.label :option3, "Option 3" %>
	<%= q.text_field :option3 %>
	
	<div data-role="fieldcontain">
    <fieldset data-role="controlgroup" data-type="horizontal">
    	<legend>Language</legend>
         	<input type="radio" name="language" id="radio-choice-1" value="en" checked="checked" />
         	<label for="radio-choice-1">English</label>

         	<input type="radio" name="language" id="radio-choice-2" value="jp"  />
         	<label for="radio-choice-2">日本語</label>

         	<input type="radio" name="language" id="radio-choice-3" value="cn"  />
         	<label for="radio-choice-3">Chinese</label>
    </fieldset>
</div>
	
	<%= q.hidden_field :approved, :value => false %>
	
	<%= q.submit %>
  <% end %>
