<% provide(:title, 'About Us') %>
<h1><%=t 'static.about.title' %></h1>
<p>
  <%= link_to t('static.about.yanmarquiz'),  t('yanmarurl') %>
  <%=t 'static.about.text1' %>
</p>
<p>
  <%=t 'static.about.text2' %>
  <%= link_to t('facebook'), "https://www.facebook.com/YANMAR.Official?ref=ts&fref=ts" %> 
</p>
<p>
  <%=t 'static.about.text3' %>
</p>