<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
	  <section>
	    <%= render 'shared/take_test' %>
	  </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
	<div class="span8">
      <h3><%=t 'feed.title' %></h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>
  <div class="center hero-unit">
    <h1><%=t 'welcome' %></h1>

    <h2>
      <%=t 'intro1' %>
	  <%= link_to t('title'), "https://www.facebook.com/YANMAR.Official?ref=ts&fref=ts" %>
	  <%=t 'intro2' %>
    </h2>

    <%= link_to t('header.join'), signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("yanmar.jpg", alt: "Yanmar"), t('yanmarurl') %>
<% end %> 