<% if signed_in? %>
  <div data-role="header">
  	<%= link_to "Home",    root_path, "data-icon" => "home", 
	    "data-mini" => "true" %>
	<h1>Yanmar Quiz mobile</h1>
    <% @question = Question.find(1) %>
    <%= link_to "Quiz", ask_path(:id => @question.id), "data-icon" => "star", 
	    "data-mini" => "true", "rel" => "external" %>
  </div>
  <div data-role="content">
    <%= render 'shared/user_info' %>
  </div>

  <div data-role="content">
    <%= render 'shared/stats' %>
  </div>

  <div data-role="content">
    <%= render 'shared/micropost_form' %>
  </div>

  <div data-role="content">
	<%= render 'shared/take_test' %>
  </div>

<% else %>
<head>
  <style>
  #flying img{ 
    display: block;
    margin: 0 auto; 
	margin-top: 100px;
	margin-bottom: 100px
  }
  </style>
</head>
  <div data-role="header">
    <%= link_to "Join", signup_path %>
	<h2>Yanmar Quiz Mobile</h2>
    <%= link_to "Sign in", signin_path %>
  </div>
  <div id="flying">
    <%= link_to image_tag('flying-y.png'), signin_path %>
  </div>
<% end %>

<%= render 'layouts/footer' %>