<% if signed_in? %>
  <div data-role="header">
  	<%= link_to "Home",    root_path, "data-icon" => "home", "data-iconpos" => "notext" %>
	<h2>Yanmar Quiz mobile</h2>
    <% @question = Question.find(1) %>
    <%= link_to "Quiz", ask_path(:id => @question.id) %>
  </div>
    <div data-role="content">
    	<%= render 'shared/user_info' %>
	</div>

    <div data-role="content">
        <%= render 'shared/stats' %>
	</div>

    <div data-role="content">
        <%= render 'shared/micropost_form' %>
	</div>

    <div data-role="content">
	    <%= render 'shared/take_test' %>
	</div>
  <div data-role="footer">
    <div class="ui-grid-b">
      <div class="ui-block-a"><%= link_to "Following",   about_path, "data-role" => "button" %></div>
      <div class="ui-block-b"><%= link_to "News Feed", "http://www.yanmar.co.jp/en/news/index.html", :confirm=> "Leave this page?", "data-role" => "button" %></div>
      <div class="ui-block-c"><%= link_to "Followers", contact_path, "data-role" => "button" %></div>
	</div>
  </div>
<% else %>
  <div data-role="header">
  	<%= link_to "Home",    root_path %>
	<h2>Yanmar Quiz mobile</h2>
    <%= link_to "Sign in", signin_path %>
  </div>

  <h1>Welcome to the Yanmar Quiz</h1>

  <h2>
    <div data-role="link">
	  This is the mobile home page for the
      <a href="https://www.facebook.com/YANMAR.Official?ref=ts&fref=ts">Yanmar Quiz</a>.
	</div>
  </h2>

  <div data-role="link">
    <%= link_to image_tag("yanmar.jpg", alt: "Yanmar"), 'http://www.yanmar.com/en/' %>
  </div>
  <div data-role="footer">
    <div class="ui-grid-b">
      <div class="ui-block-a"><%= link_to "About",   about_path %></div>
      <div class="ui-block-b"><%= link_to "Yanmar News", "http://www.yanmar.co.jp/en/news/index.html", :confirm=> "Leave this page?" %></div>
      <div class="ui-block-c"><%= link_to "Contact", contact_path %></div>
	</div>
  </div>
<% end %>