  <div data-role="header">
  	<%= link_to t('header.home'),    root_path %>
	<h2><%=t 'title' %></h2>
    <%= link_to t('header.join'), signup_path %>
  </div>
<% provide(:title, t('page.signin.title')) %>
<h1><%=t 'page.signin.title' %></h1>

<%= form_for(:session, url: sessions_path) do |f| %>

  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit t('page.signin.submit'), class: "btn btn-large btn-primary" %>
<% end %>

<%=t 'page.signin.new_user_text' %><%= link_to t('page.signin.new_user_link'), signup_path %></p>
<div data-role="footer">
  <%= link_to t('static.about.title'),   about_path %>
  <%= link_to t('footer.news'), t('footer.newsurl'), :confirm=> t('control.confirm_leave') %>
  <%= link_to t('static.contact.title'), contact_path %>
</div>