<li>
  <div class="ui-grid-c">
    <div class="ui-block-a" style="width:15%"><%= gravatar_for user, size: 52  %></div>
    <div class="ui-block-b" style="width:35%"><%= link_to user.name, user %></div>
	<div class="ui-block-c" style="width: 25%">
      <% if user.question_ids.count!=0 %>
        <%=t 'stats.tests' %><%= user.question_ids.count %>
      <% else %>
        &nbsp;
	  <% end %>	
	</div>
    <div class="ui-block-d" style="width:15%">
	  <% if current_user.admin? && !current_user?(user) %>
      <%= link_to t('control.delete'), user, method: :delete,
                                  data: { confirm: t('control.confirm') },
								  "data-role" => "button" %>
      <% else %>
        &nbsp;
	  <% end %>
    </div>
  </div>
</li>