<% provide(:title, "Edit user") %> 
<h1><%=t 'edit.title' %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, t('form.name') %>
      <%= f.text_field :name %>

      <%= f.label :email, t('form.email') %>
      <%= f.text_field :email %>

      <%= f.label :password, t('form.password') %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, t('form.verify') %>
      <%= f.password_field :password_confirmation %>
	  
	  <%= f.radio_button :language, 'en', :checked => true %>
	  <%= f.label :language_en, 'English' %>
	  <%= f.radio_button :language, 'ja' %>
	  <%= f.label :language_ja, '日本語' %>
	  <%= f.radio_button :language, 'cn' %>
	  <%= f.label :language_cn, 'Chinese' %>

      <%= f.submit t('edit.submit'), class: "btn btn-large btn-primary" %>
    <% end %>

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails"><%=t 'edit.change' %></a>
  </div>
</div>