<% provide(:title, @title) %>
  <div data-role="header">
  	<%= link_to t('header.home'), root_path, "data-icon" => "home", "data-iconpos" => "notext" %>
	<h2><%=t 'title' %></h2>
    <% @question = Question.find(1) %>
    <%= link_to t('quiz'), ask_path(:id => @question.id) %>
  </div>
  
  <div class="ui-grid-a">
    <div class="ui-block-a"><%= gravatar_for @user %></div>
	<div class="ui-block-b"><h1><%= link_to @user.name, @user %></h1></div>
  </div>
      
      
  <b><%=t 'post.posts' %></b> <%= @user.microposts.count %>
  <%= render 'shared/stats' %>
	
    <% if @users.any? %>
    <div data-role="collapsible">
      <h3><%= @title %></h3>
      <ul data-role="listview">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
	</div>
	<% end %>
	
  <div data-role="footer">
    <div class="ui-grid-b">
      <div class="ui-block-a">
	    <%= link_to t('stats.following'),   about_path, "data-role" => "button" %>
	  </div>
      <div class="ui-block-b">
	    <%= link_to t('feed.title'), t('footer.newsurl'), 
		    :confirm=> t('control.confirm_leave'), "data-role" => "button" %>
	  </div>
      <div class="ui-block-c">
	    <%= link_to t('stats.followers'), contact_path, "data-role" => "button" %>
	  </div>
	</div>
  </div>