<% provide(:title, @user.name) %>
<div data-role="header" id="title-div">
  <%= link_to "Home", root_path, "data-role" => "button", "data-icon" => "home", "data-iconpos" => "notext" %>
  <h2 id="h2-id">Yanmar Quiz mobile</h2>
  <% @question = Question.find(1) %>
  <%= link_to "Quiz", ask_path(:id => @question.id), "data-role" => "button", "data-icon" => "star" %>
</div>

<div data-role="content" class="ui-grid-a">
  <div class="ui-block-a">
    <%= gravatar_for @user %></div>
  <div class="ui-block-b">
    <h2>
      <%= @user.name %>
    </h2>
  </div>
</div>

<%= render 'shared/stats' %>

<%= render 'follow_form' if signed_in? %>
<% if @user.microposts.any? %>

<div data-role="collapsible" id="my_list">
  <h3>Show Microposts (<%= @user.microposts.count %>)</h3>
  <ul data-role="listview" >
    <%= render @microposts %>
  </ul>
  <%= will_paginate @microposts, 
	    renderer: WillPaginate::ActionView::JqueryMobilePaginateLinkRenderer,
		id: 'mobile_pagination',
		previous_label: 'Prev',
		next_label: 'Next'
		%>
</div>
  
<% end %>
<div data-role="footer">
  <div class="ui-grid-b">
    <div class="ui-block-a">
	  <%= link_to "About",   about_path, "data-role" => "button" %>
	</div>
    <div class="ui-block-b">
	  <%= link_to "Yanmar", "http://www.yanmar.co.jp/en/news/index.html", 
	      :confirm=> "Leave this page?", "data-role" => "button" %>
	</div>
    <div class="ui-block-c">
	  <%= link_to "Signout", signout_path, method: "delete", "data-role" => "button" %>
	</div>
  </div>
</div>