<% provide(:title, @title) %>
  <div data-role="header">
  	<%= link_to "Home", root_path, "data-icon" => "home", "data-iconpos" => "notext" %>
	<h2>Yanmar Quiz mobile</h2>
    <% @question = Question.find(1) %>
    <%= link_to "Quiz", ask_path(:id => @question.id) %>
  </div>
  
  <div class="ui-grid-a">
    <div class="ui-block-a"><%= gravatar_for @user %></div>
	<div class="ui-block-b"><h1><%= link_to @user.name, @user %></h1></div>
  </div>
      
      
  <b>Microposts:</b> <%= @user.microposts.count %>
  <%= render 'shared/stats' %>
	
    <% if @users.any? %>
    <div data-role="collapsible">
      <h3><%= @title %></h3>
      <ul data-role="listview">
        <%= render @users %>
      </ul>
      <%= will_paginate @users, 
	    renderer: WillPaginate::ActionView::JqueryMobilePaginateLinkRenderer,
		previous_label: 'Prev',
		next_label: 'Next'
		%>
	</div>
	<% end %>
	
  <div data-role="footer">
    <div class="ui-grid-b">
      <div class="ui-block-a">
	    <%= link_to "Following",   about_path, "data-role" => "button" %>
	  </div>
      <div class="ui-block-b">
	    <%= link_to "News Feed", "http://www.yanmar.co.jp/en/news/index.html", 
		    :confirm=> "Leave this page?", "data-role" => "button" %>
	  </div>
      <div class="ui-block-c">
	    <%= link_to "Followers", contact_path, "data-role" => "button" %>
	  </div>
	</div>
  </div>