<li id="<%= feed_item.id %>">
  <div class="ui-grid-d">
    <div class="ui-block-a" style="width:15%"><%= link_to gravatar_for(feed_item.user), feed_item.user %></div>
    <div class="ui-block-b" style="width:15%"><%= link_to feed_item.user.name, feed_item.user %></div>
	<div class="ui-block-c" style="width:40%"><%= feed_item.content %></div>
    <div class="ui-block-d" style="width:15%">Posted <%= time_ago_in_words(feed_item.created_at) %> ago.</div>
    <div class="ui-block-e" style="width:15%">  <% if current_user?(feed_item.user) %>
      <%= link_to "delete", feed_item, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: feed_item.content %>
	  <% else %>
	    &nbsp;
      <% end %>
    </div>
</div>



</li>