<% @user ||= current_user %>

<div class="ui-grid-b">
  <div class="ui-block-a">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.followed_users.count %>
    </strong>
    following
  </a>
  </div>
  <div class="ui-block-b">
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
  </div>
  <div class="ui-block-c">
    <strong id="followers" class="stat">
      <%= @user.question_ids.count %>
    </strong>
    tests taken
  </div>
</div>