<div class="ui-grid-a">
  <div class="ui-block-a">
    <a href="<%= user_path(current_user) %>">
      <%= gravatar_for current_user, size: 52 %>
    </a>
  </div>
  <div class="ui-block-b">
    <h1><%= current_user.name %></h1>
  </div>
</div>

<div class="ui-grid-a">
  <div class="ui-block-a">
    <%= link_to t('user_info.profile'), current_user %>
  </div>
  <div class="ui-block-b">
    <%= pluralize(current_user.microposts.count, t('user_info.micropost')) %>
  </div>
</div>