  <% if signed_in? %>
  <div data-role="footer">
    <div class="ui-grid-b">
      <div class="ui-block-a">
	    <%= link_to t('static.about.title'),   about_path, "data-role" => "button" %>
	  </div>
      <div class="ui-block-b">
	    <%= link_to t('yanmar'), t('footer.newsurl'), 
		    :confirm=> t('control.confirm_leave'), "data-role" => "button" %>
	  </div>
      <div class="ui-block-c">
	    <%= link_to t('header.signout'), signout_path, method: "delete", "data-role" => "button" %>
	  </div>
	</div>
  </div>    
  <% else %>
  <div data-role="footer">
    <div class="ui-grid-b">
      <div class="ui-block-a">
	    <%= link_to t('static.about.title'),   about_path, "data-role" => "button" %>
	  </div>
      <div class="ui-block-b">
	    <%= link_to t('yanmar'), t('footer.newsurl'), 
		    :confirm=> t('control.confirm_leave'), "data-role" => "button" %>
	  </div>
      <div class="ui-block-c">
	    <%= link_to t('static.contact.title'), contact_path, "data-role" => "button" %>
	  </div>
	</div>
  </div>
  <% end %>