  <% if signed_in? %>
  <div data-role="footer">
    <div class="ui-grid-b">
      <div class="ui-block-a">
	    <%= link_to "About",   about_path, "data-role" => "button" %>
	  </div>
      <div class="ui-block-b">
	    <%= link_to "Yanmar", "http://www.yanmar.co.jp/en/news/index.html", 
		    :confirm=> "Leave this page?", "data-role" => "button" %>
	  </div>
      <div class="ui-block-c">
	    <%= link_to "Signout", signout_path, method: "delete", "data-role" => "button" %>
	  </div>
	</div>
  </div>    
  <% else %>
  <div data-role="footer">
    <div class="ui-grid-b">
      <div class="ui-block-a">
	    <%= link_to "About",   about_path, "data-role" => "button" %>
	  </div>
      <div class="ui-block-b">
	    <%= link_to "Yanmar", "http://www.yanmar.co.jp/en/news/index.html", 
		    :confirm=> "Leave this page?", "data-role" => "button" %>
	  </div>
      <div class="ui-block-c">
	    <%= link_to "Contact", contact_path, "data-role" => "button" %>
	  </div>
	</div>
  </div>
  <% end %>